@charset "UTF-8";

body {
    background-color: #5a5555;
}

h1#principal {
    color: aliceblue;
    text-align: center;
}

h1 {
    color: aliceblue;
}

h2 {
    color: antiquewhite;
    text-align: justify;
}